<%= render @restaurant %>

<% @restaurant.reviews.each do |review| %>
  <li class="list-group-item">
    <%= review.content %>
    <%= link_to "Delete",
      review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>
<% end %>



<div>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants page", restaurants_path %> |
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  <%= button_to "Delete this restaurant", @restaurant, method: :delete %>
</div>
